<style>
  :root {
    --ja-g-font-family: "BIZ UDPGothic", sans-serif;
    --article-font-family: var(--ja-g-font-family), var(--base-font-family);
    --base-font-family: var(--ja-g-font-family), 'Lato', var(--sys-font-family),
      var(--zh-font-family), sans-serif;
    --code-font-family: 'Ricty Diminished', Menlo, Monaco, Consolas,
      'Courier New', monospace;
  }
</style>

<script>
  (function () {
    const customFont = document.createElement('link');
    customFont.href =
      'https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap';

    customFont.type = 'text/css';
    customFont.rel = 'stylesheet';

    document.head.appendChild(customFont);
  })();
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MT5JB2RPFV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MT5JB2RPFV');
</script>

<!-- http://proven.lol/f39328 -->