/*
/*-----------归档页面----------*/
//归档页面卡片缩放
.article-list--tile article {
  transition: .6s ease;
}

.article-list--tile article:hover {
  transform: scale(1.03, 1.03);
}

// 头像旋转动画
.sidebar header .site-avatar .site-logo {
  transition: transform 1.65s ease-in-out; // 旋转时间
}

.sidebar header .site-avatar .site-logo:hover {
  transform: rotate(360deg); // 旋转角度为360度
}

// アーカイブを二重の列にする設定 www.xalaok.top/post/stack-modify/
@media (min-width: 1024px) {
  .article-list--compact {
     display: grid;
    grid-template-columns: 1fr 1fr;
    background: none;
    box-shadow: none;
     gap: 1rem;
  
    article {
        background: var(--card-background);
        border: none;
        box-shadow: var(--shadow-l2);
        margin-bottom: 8px;
        border-radius: 16px;
      }
    }
  }
*/